$DESKTOP: "DESKTOP";
$MEDIUM_DEVIDE  : "MEDIUM_DEVIDE";
$TABLET_DEVIDE: "TABLET_DEVIDE";
$WIDE_MOBILE: "WIDE_MOBILE";
$SMALL_DEVIDE: "SMALL_DEVIDE";

@mixin Responsive($canvas){
    @if $canvas == $DESKTOP{
        @media only screen and (min-width: 1200px) {
            @content;   
        }
    }@else if($canvas == $MEDIUM_DEVIDE){
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            @content;   
        }
    }@else if($canvas == $TABLET_DEVIDE){
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            @content;   
        }
    }@else if($canvas == $WIDE_MOBILE){
        @media only screen and (max-width: 767px) {
            @content;   
        }
    }@else if($canvas == $SMALL_DEVIDE){
        @media only screen and (max-width: 575px) {
            @content;   
        }
    }
}
